$n: 15;
$s: 300;

$shadow: ();

@for $i from 1 through $s {
  $x: random(1920);
  $y: random(1000);
  $shadow: $shadow, ($x+px $y+px #fff) !global;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: $shadow;
}

@for $i from 1 through $n {
  $v: random(90) + 9;
  $h: random(250) + 50;
  $d: random(70)/10 + 3;
  $delay: calc($i * ($d + s) / $n);
  .meteor#{$i} {
    position: absolute;
    top: $h + px;
    left: $v*1%;
    width: 1px;
    height: 100vh;
    background-image: linear-gradient(to bottom, #fff, rgba(255,255,255,0));
    animation: meteor $d + s linear infinite;
    animation-delay: calc($delay + s * 0.1);
  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
