.root {
  width: 100%;
}

.bento {
  margin-top: 24px;
  width: 100%;
  background-color: #ebf3f4;
  padding: 60px;
  border-radius: 12px;
}

.row {
  padding: 0px 12px 0px 12px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 960px) {
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    padding: 0px;
  }
}

.column {
  width: 25%;
  padding: 12px;

  @media (max-width: 960px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0px;
    margin-top: 24px;
  }
}

.columnWide {
  width: 50%;
  padding: 12px;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0px;
    margin-top: 24px;
  }
}

.full {
  border: 2px solid black;
  font-size: var(--type-scale-1);
  border-radius: 12px;
  font-weight: 200;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: white;
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transitions for hover effects */
}

.full:hover {
  background-color: #e8fe56; /* Background color on hover */
  color: black; /* Text color on hover */
}

.fullDisabled {
  border: 2px solid lightgray;
  background-color: #f0f0f0;
  color: var(--theme-foreground);
  font-size: var(--type-scale-1);
  border-radius: 12px;
  font-weight: 200;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}
